<form method="POST" action="/create">
  <p> Enter details to create a new recipe:</p>
  <b>
  <p> Recipe name: <input type='text' name='name' /></p>
  <p> Recipe description: <input type='text' name='description' /></p>
  <p> Preparation time: <input type='text' name='prep_time' /></p>
  <input type='submit' value='Create recipe!'>
</form>


<!-- params = {
  :name => "",
  :description => "",
  :prep_time => ""
} -->
