<form method="POST" action="/import" style = "border: 1px solid #c5cdd4; background-color: #F8F8F8; border-radius: 4px; margin: 8px; padding: 12px 20px 12px 40px">
  <p> Enter an ingredient:</p>
  <input type='text' name='ingredient' />
  <b>
  <input type='submit' value='Search'>
</form>
